@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    height: 11.5vh;
}

.nav-item {
    font-family: "Roboto Condensed";
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav {
    height: 100%;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: white;
    background-color: #041280;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo {
    height: 18vh;
    margin-top: 40px;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
}

#banner-image {
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

#number {
    font-family: "Roboto Condensed";
    color: black;
}