@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    padding: 15px;
}

header {
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 11.5vh;
}

.nav-item {
    font-family: "Roboto Condensed";
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-nav {
    height: 100%;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: white;
    background-color: #041280;
}

#logo {
    height: 18vh;
    margin-top: 43px;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

#banner-image {
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

#login {
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#register {
    background-color: #041280;
    color: white;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
}

#login:hover,
#register:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

.footer-content i {
    color: white;
}

.footer-content {
    border-top: 3px solid black;
}

footer {
    background-color: #041280;
    font-family: "Roboto Condensed";
}

h1 {
    display: inline-block;
    border-bottom: 6px solid #041280;
    font-family: "Roboto Condensed";
    padding-left: 200px;
    padding-right: 200px;
}

.separator {
    border-bottom: 4px solid #041280;
    margin-left: 800px;
}

.category-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    position: absolute;
    top: 11%;
    left: 80%;
    right: 0;
    margin: auto;
    z-index: 1;
    height: 60vh;
    width: 400px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

#category-salad {
    position: relative;
    width: 75%;
    margin-bottom: 70px;
    margin-top: 70px;
    margin-left: 82px;
    padding: 0;
}

.category-heading {
    font-family: "Roboto Condensed";
    font-weight: bold;
}

.category-description {
    font-family: "Roboto Condensed";
}

#salad-image {
    width: 1500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

#salad-button {
    background-color: #041280;
    color: white;
    border-radius: 0;
    font-weight: bold;
}

#salad-button:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

#category-appetizer {
    position: relative;
    width: 75%;
    margin-bottom: 70px;
    margin-top: 70px;
    margin-left: 82px;
    padding: 0;
}

#appetizer-image {
    width: 1500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

#appetizer-button {
    background-color: #041280;
    color: white;
    border-radius: 0;
    font-weight: bold;
}

#appetizer-button:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

#category-main-dishes {
    position: relative;
    width: 75%;
    margin-bottom: 70px;
    margin-top: 70px;
    margin-left: 82px;
    padding: 0;
}

#main-dishes-image {
    width: 1500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

#main-dishes-button {
    background-color: #041280;
    color: white;
    border-radius: 0;
    font-weight: bold;
}

#main-dishes-button:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}

#category-desserts {
    position: relative;
    width: 75%;
    margin-bottom: 70px;
    margin-top: 70px;
    margin-left: 82px;
    padding: 0;
}

#desserts-image {
    width: 1500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

#desserts-button {
    background-color: #041280;
    color: white;
    border-radius: 0;
    font-weight: bold;
}

#desserts-button:hover {
    background-color: white;
    color: #041280;
    border-color: #041280;
}